<!DOCTYPE html>
<html>
<head>
    <title>Автопарк</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                     <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1>Автопарк</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Виробник</th>
            <th>Модель</th>
            <th>Колір</th>
            <th>Рік</th>
            <th>Дії</th>
        </tr>
        {% for car in cars %}
        <tr>
            <td>{{ car.id }}</td>
            <td>{{ car.manufacturer.name }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.color }}</td>
            <td>{{ car.year }}</td>
            <td>
                <a href="{{ url_for('main.edit_car', car_id=car.id) }}">Редагувати</a>
                <a href="{{ url_for('main.delete_car_route', car_id=car.id) }}">Видалити</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="button-container">
        <a href="{{ url_for('main.add_car') }}" class="button">Додати автомобіль</a>
    </div>
</body>
</html>